*.log
*.lot
*.lof

**.aux
*.out
*.toc

# bibliography data
*.blg
*.bbl
*.bcf
*.run.xml
*.bib

# vim tmp files
**.swp

# matlab tmp files
**.m~
**.asv

# glossaries files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# ignore all pdfs except the final document
*.pdf
!WilliamDawn-thesis.pdf
!WilliamDawn-defense.pdf
